.conteiner {
	font-family: Georgia, Time New Roman, Times, serif;
  font-weight: 16px;
	width: 540px;
	border: solid 1px #0033FF;
	padding: 0px 5px 0px 5px;
}


.pro_1 {
	font-size: 16px;
	font-weight: bold;
	height: 25px;
	background-image: url('img/title.gif');
	margin: 0;
}
.pro_2 {
	height: auto;
	border: none;
}
#img_1 {
	float: left;
}
.pro_3 {
	height: 100px;
	margin-top: 0;
	overflow: scroll;
}


.fac_1 {
	font-size: 16px;
	font-weight: bold;
}
ul {
	margin-top: 0;
	list-style-image: url('img/star.gif');
   list-style-position: inside;
}


.com_1 {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #ECECEC;
}
.com_2 {
	margin-top: 0;
	margin-left: 28px;
}
a {
	text-decoration:none;
}
#img_2 {
	margin-top: 0;
	width: 25px;
	height: 20px;
}


.cfor_1 {
	margin-top: 20px;
  margin-bottom: 0;
	font-weight: bold;
	text-align: center;
  font-size: 16px;
}
.cfor_2 {
	float: left;
	clear: left;
	width: 120px;
  margin: 0;
}
.cfor_3 {
	height: 40px;
	padding-top: 30px;
}
.textarea {
	width: 73%;
	height: 80px;
	text-align: left;
}
form p { margin: 8px 0; }