body {
	background-color: #121214;
}

.container {
	margin-left: 55px;
	margin-top: 25px;
  font-family: Arial, Verdana, sans-serif;
	font-size: 0.6875em;
	color: #595959;
}


.box1 {
  margin-top: 45px;
}
#img_1 {
	float: left;
  width: 150px;
  height: 80px;
	margin-right: 10px;
	margin-bottom: 20px;
}
h1, a {
	font-size: 10px;
	color: white;
	text-decoration: none;
	
}

.box2_1 a, .box2_2 a {
	font-size: 10px;
	color: #595959;
}

.section1 {
	width: 420px;
	float: left;
}

.section1 p {
	margin-bottom: 30px;
}



.section1_1 p:nth-of-type(3) {
	clear: both;
}

.box1 p:last-child {
	clear: both;
	border-top: dotted 1px;
	padding-top: 10px;
}


.box2 {
	margin-top: 60px;
	overflow: auto;
}

.box2_1, .box2_2 {
	float: left;
}

ul, li {
	margin-left: 5px;
	padding-left: 0;
	margin-bottom: 10px;
}

.box2_2 ul, .box2_2 li {
	margin-left: 10px;
}

ul {
	list-style-image: url("image/arr.gif");
}

.box2 p:last-child {
	clear: both;
	border-top: dotted 1px;
	padding-top: 10px;
}

.section2 {
	float: left;
	background-color: #232326;
	margin-left: 30px;
	width: 250px;
	height: 400px;
}

.box3 {
	text-align: center;
	margin-top: 30px;
}

.section2_1 {
	width: 200px;
	margin: auto;
	border-top: solid 1px #595959;
	margin-top: 80px;
}

.section2 p img {
	margin-top: 40px;
}












